header.main-header
    .container
        a(href="index.html").logo
        .main-menu.desctop
            ul.main-menu__list
                li.menu-logo.active
                    a(href="index.html")
                li.desctop.next-submenu
                    a(href="services-1.html") Услуги
                    ul.submenu
                        li
                            a(href="services-1.html") Дороги и проезды
                        li
                            a(href="services-2.html") Озеленение территорий
                        li
                            a(href="services-3.html") Промышленные ограждения
                        li
                            a(href="services-4.html") Наружное освещение
                        li
                            a(href="services-5.html") Устройство дренажа
                        li
                            a(href="services-6.html") Земляные работы
                li.desctop
                    a(href="portfolio.html") Портфолио
                li.desctop
                    a(href="main-contacts.html") Контакты
                li.mode
                    a(href="tel:+74953345678") 
                        <svg width="100%" height="100%" viewBox="0 0 177 177" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-6995.11,-917.576)"><g transform="matrix(4.16667,0,0,4.16667,7004.66,1006.1)"><path d="M0,-0.019C0.008,10.494 8.576,19.02 19.143,18.92C29.562,18.822 37.991,10.212 37.876,-0.191C37.76,-10.662 29.177,-19.076 18.706,-18.944C8.289,-18.812 0.007,-10.311 0,-0.019M18.944,-21.245C30.744,-21.243 40.401,-11.542 40.165,0.417C39.937,11.983 30.45,21.226 18.934,21.218C7.1,21.21 -2.522,11.496 -2.287,-0.442C-2.059,-12.001 7.416,-21.245 18.944,-21.245" style="fill:white;fill-rule:nonzero;"/></g><g transform="matrix(4.16667,0,0,4.16667,7042.72,1034.58)"><path d="M0,-15.125C0.006,-16.312 0.22,-17.69 0.923,-18.956C1.2,-19.456 1.55,-19.891 2.012,-20.24C2.576,-20.667 3.124,-21.115 3.681,-21.552C4.223,-21.979 4.867,-21.885 5.234,-21.305C6.541,-19.244 7.843,-17.179 9.14,-15.112C9.52,-14.506 9.337,-13.883 8.703,-13.55C8.085,-13.224 7.466,-12.9 6.848,-12.575C6.154,-12.21 5.923,-11.738 6.062,-10.961C6.202,-10.176 6.502,-9.446 6.918,-8.775C7.971,-7.076 9.009,-5.367 10.136,-3.718C10.71,-2.878 11.452,-2.152 12.14,-1.394C12.3,-1.218 12.535,-1.091 12.758,-0.993C13.157,-0.817 13.541,-0.844 13.892,-1.153C14.443,-1.637 15.009,-2.105 15.569,-2.579C16.113,-3.038 16.781,-2.945 17.161,-2.345C18.466,-0.283 19.769,1.782 21.066,3.849C21.441,4.446 21.244,5.103 20.613,5.404C20.015,5.689 19.4,5.946 18.818,6.26C17.788,6.815 16.702,6.854 15.591,6.659C13.771,6.338 12.197,5.476 10.742,4.375C8.863,2.954 7.312,1.215 5.931,-0.68C4.048,-3.262 2.437,-5.998 1.262,-8.98C0.471,-10.988 0.002,-13.165 0,-15.125" style="fill:white;fill-rule:nonzero;"/></g></g></svg>
                        span +7 495 334 56 78
    .main-menu.mobile
        ul.list
            li.burger
                <svg width="100%" height="100%" viewBox="0 0 137 131" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-60.7417,-508.792)"><g transform="matrix(-4.16667,0,0,4.16667,227.713,-13617.2)"><rect x="7.289" y="3390.24" width="32.784" height="5.702" style="fill:white;"/></g><g transform="matrix(-4.16667,0,0,4.16667,227.713,-13510.3)"><rect x="7.289" y="3377.41" width="32.784" height="5.702" style="fill:white;"/></g><g transform="matrix(-4.16667,0,0,4.16667,227.713,-13403.4)"><rect x="7.289" y="3364.59" width="32.784" height="5.701" style="fill:white;"/></g></g></svg>
            li
                <svg width="100%" height="100%" viewBox="0 0 77 77" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-502.627,-571.175)"><g transform="matrix(4.16667,0,0,4.16667,506.76,609.492)"><path d="M0,-0.008C0.003,4.543 3.712,8.233 8.286,8.19C12.796,8.147 16.445,4.421 16.395,-0.083C16.345,-4.615 12.629,-8.258 8.097,-8.2C3.588,-8.143 0.003,-4.463 0,-0.008M8.2,-9.196C13.308,-9.195 17.488,-4.996 17.386,0.18C17.287,5.187 13.181,9.188 8.195,9.184C3.073,9.181 -1.092,4.976 -0.99,-0.192C-0.891,-5.195 3.21,-9.196 8.2,-9.196" style="fill:white;fill-rule:nonzero;"/></g><g transform="matrix(4.16667,0,0,4.16667,523.235,621.82)"><path d="M0,-6.547C0.003,-7.061 0.095,-7.657 0.399,-8.205C0.52,-8.422 0.671,-8.61 0.871,-8.761C1.116,-8.945 1.353,-9.139 1.593,-9.329C1.828,-9.514 2.107,-9.473 2.266,-9.222C2.832,-8.33 3.395,-7.436 3.957,-6.541C4.121,-6.279 4.042,-6.009 3.768,-5.865C3.5,-5.724 3.232,-5.584 2.964,-5.443C2.665,-5.285 2.564,-5.081 2.624,-4.744C2.685,-4.405 2.814,-4.089 2.995,-3.798C3.45,-3.063 3.9,-2.323 4.388,-1.609C4.636,-1.246 4.958,-0.931 5.255,-0.603C5.325,-0.527 5.426,-0.472 5.522,-0.429C5.695,-0.354 5.861,-0.365 6.014,-0.499C6.252,-0.709 6.497,-0.911 6.74,-1.116C6.975,-1.315 7.264,-1.275 7.429,-1.015C7.994,-0.122 8.557,0.771 9.119,1.666C9.281,1.925 9.196,2.209 8.923,2.339C8.664,2.463 8.398,2.574 8.146,2.71C7.7,2.95 7.23,2.967 6.749,2.883C5.961,2.744 5.28,2.37 4.65,1.894C3.837,1.279 3.166,0.526 2.567,-0.294C1.752,-1.412 1.055,-2.596 0.546,-3.887C0.204,-4.756 0.001,-5.698 0,-6.547" style="fill:white;fill-rule:nonzero;"/></g></g></svg>
                a(href="tel:+74953345678").phone +7 495 334 56 78
                span |
                a(href="mailto:info@enrun.ru").email info@enrun.ru

        //- menu-mobile
        ul.menu-mobile
            li.big-item Услуги
                ul.subtitle
                    li.link
                        a(href="services-1.html") Дороги и проезды
                    li.link
                        a(href="services-2.html") Озеленение территорий
                    li.link
                        a(href="services-3.html") Промышленные ограждения
                    li.link
                        a(href="services-4.html") Наружное освещение
                    li.link
                        a(href="services-5.html") Устройство дренажа
                    li.link
                        a(href="services-6.html") Земляные работы
            li.big-item Портфолио
                //- ul.subtitle
                //-     li.link
                //-         a(href="services-1.html") Дороги и проезды
                //-     li.link
                //-         a(href="services-2.html") Озеленение территорий
                //-     li.link
                //-         a(href="services-3.html") Промышленные ограждения
                //-     li.link
                //-         a(href="services-4.html") Наружное освещение
                //-     li.link
                //-         a(href="services-5.html") Устройство дренажа
                //-     li.link
                //-         a(href="services-6.html") Земляные работы
            li.item
                a(href="main-contacts.html") Контакты