@font-face {
    font-family: 'DIN Alternate';
    src: url('DINAlternate-Regular.woff2') format('woff2'),
        url('DINAlternate-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

